body {
  position: absolute;
  width: 100%;
  height: 100%;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

header {
  display: flex;
  width: 100%;
  height: 120px;
  line-height: 150px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

#navMain {
  width: 100%;
  height: 100%;
  min-width: 500px;
}

.nav-left {
  position: absolute;
  float: left;
  left: 13%;
  height: inherit;
}

.brand-logo {
  width: 100px;
}

.nav-right {
  position: absolute;
  right: 15%;
  float: right;
  height: inherit;
}

.nav-container {
  width: 100%;
  height: 100%;
}

#navDropdown {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
}

.nav-dropdown {
  width: 100%;
  height: 300%;
}

#navList {
  width: 100%;
  height: 100%;
}

.nav-child {
  width: 160px;
  font-size: 16px;
  padding-left: 0%;
  text-indent: 10px;
  cursor: pointer;
}

.nav-child a {
  color: #ffffff;
}

.nav-highlight {
  width: 100%;
  height: 100%;
}

.nav-highlight:hover {
  font-weight: 500;
  color: #00a634;
  border-bottom: solid 3px #00a634;
}

.navbar-vertical {
  float: left;
  padding-top: 10px;
  width: 25%;
  height: 100%;
  list-style-type: none;
  padding-left: 0%;
  text-indent: 20px;
}

.nav-dropdown-child {
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: left;
}

.main-container {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #f1f1f5;
}

.index-text {
  color: #ffffff;
  margin-top: 20%;
  margin-left: 10%;
}

.index-title {
  font-size: 5vmax;
  font-weight: 550;
  margin-bottom: 0.5%;
}

.index-subtitle {
  font-size: 1.5vmax;
  font-weight: 350;
}

.arrow-button-container {
  width: 100%;
  font-size: 1.1em;
  margin-top: 8%;
  margin-left: 70%;
  float: left;
}

.arrow-button-text {
  display: block;
  float: left;
  margin-right: 1.5%;
}

.arrow-button {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  background-image: url("../resources/index-arrow.png");
  background-size: cover;
  background-position: center;
}

.arrow-button:hover {
  scale: 1.05;
}

.left-container {
  position: absolute;
  left: 0;
  display: block;
  width: 50%;
  height: inherit;
  background-image: url("../resources/science-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right-container {
  position: absolute;
  right: 0;
  display: block;
  width: 50%;
  height: inherit;
  background-color: #ffffff;
}

.index-text-black {
  width: 100%;
  height: 200px;
  color: black;
  margin-top: 15%;
  margin-left: 15%;
}

.index-title-black {
  color: black;
  font-size: 3em;
  font-weight: 550;
}

.index-subtitle-black {
  color: black;
  font-size: 1.2em;
  font-weight: 350;
}

.arrow-button-container-black {
  color: black;
  width: 100%;
  font-size: 1.1em;
  margin-top: 30%;
  margin-left: 50%;
  float: left;
}

.arrow-button-text-black {
  color: black;
  display: block;
  float: left;
  margin-right: 1.5%;
}

.arrow-button-black {
  color: black;
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  background-image: url("../resources/index-arrow.png");
  background-size: cover;
  background-position: center;
}

.arrow-button-black:hover {
  scale: 1.05;
}

/* index-2 */
.index-2-left {
  float: left;
  width: 50%;
  height: 100%;
  text-align: right;
  vertical-align: middle;
  margin-top: 120px;
}

.index-2-img {
  width: 65%;
  padding-top: 5%;
  padding-right: 7%;
}

.index-2-right {
  float: left;
  width: 50%;
  height: 100%;
  margin-top: 120px;
  padding-left: 100px;
  padding-top: 10%;
}

.index-2-logo {
  width: 180px;
}

.index-2-title {
  margin-top: 70px;
  font-size: 30pt;
  font-weight: 700;
  color: #545454;
}

.index-2-text {
  margin-top: 100px;
  font-size: 15px;
}
