html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-header {
  position: fixed;
  width: 100%;
  height: 11%;
  max-height: 120px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 500;
}

.main-body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.main-footer {
  display: flex;
  position: relative;
  width: 100%;
  height: 70%;
  background-color: #ffffff;
  align-self: flex-end;
}

.main-body-content {
  float: left;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-navbar {
  width: 100%;
  height: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.nav-left {
  width: auto;
  height: 100%;
}

.brand-logo {
  position: relative;
  float: left;
  width: auto;
  height: 50%;
  margin-top: 35%;
}
