.overview-first-left {
  float: left;
  width: 50%;
  height: 70%;
}

.overview-first-right {
  float: right;
  width: 50%;
  height: 70%;
}

.overview-first-image {
  width: 65%;
  height: 100%;
  background-image: url("../resources/overview-image.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.overview-first-right-top {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: flex-end;
}

.overview-first-right-mid {
  display: flex;
  width: 100%;
  height: 30%;
  align-items: center;
}

.overview-first-right-bottom {
  width: 100%;
  height: 50%;
}

.overview-first-title {
  font-size: xx-large;
  font-weight: bolder;
  color: #545454;
}

.overview-table-item {
  width: 100%;
  font-size: smaller;
  border-bottom: 1px solid #d9d9d9;
}

.overview-table-item:last-child {
  border-bottom: none;
}

.overview-table-item th {
  font-weight: 900;
  width: 30%;
  padding: 15px 0px;
}

.overview-table-item td {
  font-weight: 500;
  width: 70%;
  padding: 15px 0;
}

.overview-second-top {
  width: 75%;
  height: 5%;
  padding-bottom: 5%;
  background-image: url("../resources/overview-map-cardname.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.overview-second-bottom {
  width: 100%;
  height: 95%;
  background-image: url("../resources/overview-map.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.overview-map-namecard {
  float: left;
  width: 15%;
  height: 100%;
  background-color: aqua;
  font-size: 0.6vmax;
}

.overview-map-namecard p {
  text-align: left;
}

.overview-logo {
  width: auto;
  height: 80px;
  text-align: left;
}

.ceo-message-left {
  float: left;
  width: 50%;
  height: 100%;
}

.ceo-message-left img {
  position: absolute;
  left: 0;
  margin-top: 3%;
  height: 35%;
}

.ceo-message-right {
  float: right;
  padding-left: 2%;
  padding-top: 11%;
  width: 50%;
  height: 100%;
}

.ceo-message-title {
  font-size: 1.8vmax;
  font-weight: 900;
  color: #545454;
}

.ceo-message-text {
  width: 100%;
  margin-top: 8%;
  font-size: 0.8vmax;
}

.ceo-message-name {
  margin-top: 6%;
  font-size: 1vmax;
}

.ceo-message-sign {
  position: relative;
  top: -10px;
  float: right;
  height: 10%;
}

.esg-main-text {
  font-size: 0.8vmax;
}

.esg-main-image {
  height: 55%;
  padding: 3%;
  text-align: center;
}

.esg-main-image img {
  height: 100%;
}

.esg-task-cards {
  width: 100%;
  height: 45%;
}

.esg-card {
  width: 33.3%;
  height: 100%;
  border-right: 1px #d9d9d9 solid;
}

.esg-card:nth-child(1) {
}

.esg-card:nth-child(2) {
}

.esg-card:nth-child(3) {
  border-right: none;
}

.esg-card-image {
  display: flex;
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 100%;
}

.esg-card:nth-child(1) main {
  background-image: url("../resources/esg-card-1.png");
}

.esg-card:nth-child(2) main {
  background-image: url("../resources/esg-card-2.png");
}

.esg-card:nth-child(3) main {
  background-image: url("../resources/esg-card-3.png");
}

.esg-card-title {
  width: 100%;
  height: 25%;
  background-color: rgba(0, 166, 52, 0.8);
  color: #ffffff;
  font-size: 1.1vmax;
  font-weight: 600;
  text-align: center;
  align-self: flex-end;
}

.esg-card-title-item {
  width: 100%;
  height: 23%;
}

.esg-card-list {
  padding-top: 8%;
  font-size: 0.8vmax;
  padding-inline-start: 20px;
}

.esg-card-list li {
  line-height: 180%;
}

.access-map-container {
  position: relative;
  width: 100%;
  height: 56%;
}

.map-image {
  width: 100%;
  height: auto;
}

.access-map-overlay {
  position: absolute;
  width: 44%;
  height: 28%;
  background-color: #ffffff;
  z-index: 100;
  left: 28%;
  bottom: 50px;
  border: 2px #00a634 solid;
}

.overlay-top {
  position: relative;
  display: flex;
  width: 100%;
  height: 35%;
}

.overlay-bottom {
  position: relative;
  width: 85%;
  height: 65%;
  padding-top: 3%;
  padding-left: 12%;
}

.overlay-top img {
  height: 70%;
  align-self: end;
  margin-left: 12%;
}

.overlay-text {
  font-size: 0.8vmax;
  line-height: 120%;
}

.access-button {
  position: absolute;
  width: 21%;
  height: 24%;
  bottom: 8%;
  right: 2%;
  text-align: center;
  background-color: #00a634;
  color: #ffffff;
  line-height: 10%;
  font-size: 0.8vmax;
  font-weight: bolder;
  border-radius: 0;
}

.access-button:hover {
  background-color: #00a634;
  color: #ffffff;
  opacity: 0.7;
}

.csr-content {
  margin-top: 6em;
  width: 100%;
  height: 100%;
}

.csr-title {
  padding: 3% 0 1.5% 0;
  font-weight: 900;
  font-size: 24px;
  color: #545454;
  margin-block-start: 0;
  margin-block-end: 0;
}

.csr-tab-image-container {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
  width: 100%;
  height: 37em;
}

.csr-tab-image {
  padding-bottom: 3em;
  width: 100%;
  height: 37em;
}

.csr-tab2-image1 {
  background-image: url("../resources/csr-tab2-image.png");
}

.csr-tab2-image2 {
  background-image: url("../resources/csr-tab2-image2.png");
}

.csr-video {
  padding-top: 1.2em;
  padding-bottom: 3em;
  width: 100%;
  height: 37em;
}

.csr-tab1-cards {
  padding-top: 1.2em;
  padding-bottom: 3em;
  width: 100%;
  height: 49em;
  overflow: hidden;
}

.csr-tab1-card {
  width: 48.5%;
  height: 48.5%;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.csr-tab1-card:nth-child(1) {
  background-image: url("../resources/csr-tab1-card1.png");
  margin-right: 1.5%;
  margin-bottom: 1.5%;
}

.csr-tab1-card:nth-child(2) {
  background-image: url("../resources/csr-tab1-card2.png");
  margin-left: 1.5%;
  margin-bottom: 1.5%;
}

.csr-tab1-card:nth-child(3) {
  background-image: url("../resources/csr-tab1-card3.png");
  margin-right: 1.5%;
  margin-top: 1.5%;
}

.csr-tab1-card:nth-child(4) {
  background-image: url("../resources/csr-tab1-card4.png");
  margin-left: 1.5%;
  margin-top: 1.5%;
}

.csr-arrow-image {
  width: 10%;
  height: inherit;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.big-image {
  width: auto;
  height: 37em;
  padding: 5em;
}

.csr-tab2-cards {
  margin-top: 2.5em;
  margin-bottom: 5em;
  width: 100%;
  height: 48em;
  overflow: hidden;
}

.csr-tab2-card {
  width: 30%;
  height: 23em;
  float: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.csr-tab2-card:nth-child(1) {
  background-image: url("../resources/csr-tab2-card1.png");
  margin-right: 1.5%;
}

.csr-tab2-card:nth-child(2) {
  background-image: url("../resources/csr-tab2-card2.png");
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.csr-tab2-card:nth-child(3) {
  background-image: url("../resources/csr-tab2-card3.png");
  margin-left: 1.5%;
}

.csr-tab2-card:nth-child(4) {
  background-image: url("../resources/csr-tab2-card4.png");
  margin-right: 1.5%;
  margin-top: 3%;
}

.csr-tab2-card:nth-child(5) {
  background-image: url("../resources/csr-tab2-card5.png");
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 3%;
}

.csr-tab2-card:nth-child(6) {
  background-image: url("../resources/csr-tab2-card6.png");
  margin-left: 1.5%;
  margin-top: 3%;
}

.csr-tab2-info {
  width: 100%;
  height: 28%;
  background-color: #f5f5f5;
}

#csr-nav-tab {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #d9d9d9;
}

.nav-tabs .csr-nav-link {
  width: 20%;
  height: 2.6em;
  background-color: #ffffff;
  color: #545454;
  font-size: 1vmax;
  font-weight: bolder;
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #545454;
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #d9d9d9;
  --bs-nav-tabs-border-radius: 0;
  --bs-nav-tabs-link-hover-border-color: #00a634;
  --bs-nav-tabs-link-hover-color: #00a634;
  --bs-nav-tabs-link-hover-bg: #ffffff;
  --bs-nav-tabs-link-active-border-color: #00a634;
  --bs-nav-tabs-link-active-color: #ffffff;
  --bs-nav-tabs-link-active-bg: #00a634;
}

.csr-nav-link:active {
  background-color: #00a634;
  color: #ffffff;
}

.csr-nav-link:focus {
  color: #00a634;
}

.csr-nav-link:hover {
  color: #00a634;
}

/* Remove all in Future */
.csr-tab-body {
  width: 100%;
}
