.news-body {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.news-body-container {
  display: block;
  width: 100%;
  height: 100%;
}

.news-body-header {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.news-body-cards {
  float: left;
  width: 100%;
  height: auto;
}

.card-item-row {
  width: 100%;
  height: 380px;
}

.card-item-top {
  float: left;
  width: 100%;
  height: 180px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

#card-thumbnail-1 {
  background-image: url("../resources/news-thumbnail-1.png");
}

#card-thumbnail-2 {
  background-image: url("../resources/news-thumbnail-2.png");
}

#card-thumbnail-3 {
  background-image: url("../resources/news-thumbnail-3.png");
}

#card-thumbnail-4 {
  background-image: url("../resources/news-thumbnail-4.png");
}

#card-thumbnail-5 {
  background-image: url("../resources/news-thumbnail-5.png");
}

#card-thumbnail-6 {
  background-image: url("../resources/news-thumbnail-6.png");
}

#card-thumbnail-7 {
  background-image: url("../resources/news-thumbnail-7.png");
}

#card-thumbnail-8 {
  background-image: url("../resources/news-thumbnail-8.png");
}

#card-thumbnail-9 {
  background-image: url("../resources/news-thumbnail-9.png");
}

.card-item-bottom {
  float: left;
  width: 100%;
  height: 180px;
  background-color: #fafafa;
  padding: 20px;
}

.card-item-bottom p {
  color: #9ca1a2;
  font-size: 0.8vmax;
}

.card-item-bottom h2 {
  color: #000000;
  font-size: 1.25vmax;
  font-weight: 700;
}

.news-headline {
  width: 100%;
  height: 100%;
}

.news-headline-left {
  display: block;
  position: relative;
  float: left;
  width: 30%;
  height: 100%;
}

.news-headline-right {
  float: right;
  width: 70%;
  height: 100%;
}

.news-headline img {
  width: auto;
  height: 200px;
}

.news-headline-title {
  font-size: 1.7vmax;
  color: #000000;
  font-weight: 700;
}

.news-headline-date {
  font-size: 0.5vmax;
  color: #9ca1a2;
  font-weight: 500;
}

.news-headline-text {
  font-size: 0.8vmax;
  color: #000000;
  font-weight: 500;
}

.news-container {
  position: absolute;
  width: 100%;
  height: auto;
}

.news-more-button {
  float: right;
  margin-top: 20px;
  background-color: #00a634;
  color: #ffffff;
  width: 120px;
  line-height: 18px;
  font-size: 0.8vmax;
  font-weight: bolder;
  border-radius: 0;
  text-align: left;
}

.news-more-button:hover {
  background-color: #00a634;
  color: #ffffff;
  opacity: 0.7;
}
