.product-article {
  width: 100%;
  height: 45em;
  border-bottom: 1px solid #d9d9d9;
}

.products-left {
  float: left;
  width: 52%;
  height: 100%;
  padding: 3.5em;
  padding-right: 5em;
}

.products-right {
  float: right;
  width: 48%;
  height: 100%;
  padding-top: 5em;
}

.products-left-top {
  float: left;
  width: 100%;
  height: 70%;
}

.products-left-bottom {
  float: left;
  width: 100%;
  height: 20%;
}

.products-title {
  padding-top: 0.5em;
  font-size: 1.5vmax;
  font-weight: 900;
  color: #545454;
}

.products-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#productsImage {
}

.products-thumbnails {
  margin-top: 1em;
  width: 100%;
  height: 4em;
  display: table;
}

.products-thumb {
  display: table-cell;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products-thumb-image {
  max-width: 92%;
  min-width: 20px;
  aspect-ratio: auto 1/1;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d9d9d9;
}

.products-left-arrow {
  background-position: left;
  background-size: 35%;
  background-image: url("../resources/left-arrow.svg");
}

.products-right-arrow {
  background-position: right;
  background-size: 35%;
  background-image: url("../resources/right-arrow.svg");
}

.products-nav {
  position: fixed;
  right: 15%;
  top: 28%;
  width: 13em;
  height: 25em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3em 2em;
  z-index: 300;
}

.products-nav-body {
  width: 100%;
  height: 100%;
}

.products-nav-title {
  cursor: pointer;
  font-size: small;
  line-height: 1.8em;
  font-weight: 200;
  color: #ffffff;
}

.products-nav-title:hover {
  font-weight: bolder;
  text-decoration: underline;
  color: #01cf42;
}

.products-nav-title:active {
  font-weight: bolder;
  text-decoration: underline;
  color: #01cf42;
}

.products-thumb-image:hover {
  outline: 3px solid #01cf42;
}

.products-thumb-image:active {
  outline: 3px solid #01cf42;
}

.products-table {
  margin-top: 3em;
  font-weight: 600;
}

.products-tr {
  height: 2.8em;
}

.products-table th {
  width: 7em;
  font-size: 15px;
  line-height: 15px;
  font-weight: 900;
  vertical-align: text-top;
}

.products-table td {
  vertical-align: text-top;
  font-size: 13px;
}

.products-td-light {
  font-weight: 300;
  color: #9ca1a2;
}
