/* .products-left {
  float: left;
  width: 40%;
  height: 100%;
}

.products-right {
  float: left;
  padding-left: 2%;
  width: 42%;
  height: 100%;
}

.products-nav {
  float: left;
  width: 18%;
  height: 100%;
}

.products-item-img {
  margin-top: 15%;
  padding: 5%;
  width: 100%;
  height: auto;
}

.temp-products-image {
  margin-top: 5%;
}

.products-item-title {
  margin-top: 10%;
  margin-bottom: 7%;
  font-size: 2vmax;
  color: #545454;
  font-weight: 600;
}

.products-item-description {
  font-size: 0.75vmax;
}

.ppt-navigator {
  position: fixed;
  margin-top: 50px;
  padding-top: 1%;
  width: 12%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.nav-ppt-child {
  cursor: pointer;
  font-size: 0.9vmax;
  width: auto;
  height: 40px;
  font-weight: 350;
  text-align: left;
  margin: 2% 8%;
}

.nav-ppt-child a {
  padding-top: 20px;
  line-height: 10px;
}

.nav-ppt-highlight:hover {
  font-weight: 500;
  color: #01cf42;
  border-bottom: solid 2px #01cf42;
}

.navbar-vertical {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
} */

.products-left {
  float: left;
  width: 43%;
  height: 100%;
  padding-top: 3.5em;
  padding-right: 3.5em;
}

.products-right {
  float: right;
  width: 57%;
  height: 100%;
  padding-top: 4em;
}

.products-left-top {
  float: left;
  width: 100%;
  height: 40%;
}

.products-left-bottom {
  float: left;
  width: 100%;
  height: 60%;
}

.products-title {
  font-size: 1.5vmax;
  font-weight: bolder;
  color: #545454;
}

.products-text {
  padding-top: 2.5em;
  font-size: 0.7vmax;
  font-weight: 550;
}

.products-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#productsImage {
  background-image: url(../resources/products-1.png);
}

.products-thumbnails {
  margin-top: 2em;
  width: 100%;
  height: 3.5em;
  display: table;
}

.products-thumb {
  display: table-cell;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

#productsThumb1 {
  background-image: url("../resources/products-1.png");
}

#productsThumb2 {
  background-image: url("../resources/products-2.png");
}

#productsThumb3 {
  background-image: url("../resources/products-3.png");
}

#productsThumb4 {
  background-image: url("../resources/products-4.png");
}

#productsThumb5 {
  background-image: url("../resources/products-5.png");
}

#productsThumb6 {
  background-color: #d9d9d9;
}

#productsThumb7 {
  background-color: #d9d9d9;
}

.products-left-arrow {
  background-position: left;
  background-size: 35%;
  background-image: url("../resources/left-arrow.svg");
}

.products-right-arrow {
  background-position: right;
  background-size: 35%;
  background-image: url("../resources/right-arrow.svg");
}
