.ppt-hr {
  width: 100%;
  color: #d9d9d9;
  opacity: 0.7;
  margin: 0;
  margin-top: 5px;
}

.ppt-path {
  margin-top: 17%;
  width: 100%;
  text-align: left;
  font-size: 0.5vmax;
  color: #9ca1a2;
}

.ppt-title {
  padding: 2.5% 0;
  font-weight: 900;
  font-size: 1.5vmax;
  color: #545454;
}

.ppt-title::before {
  content: "";
  border-left: 3.5pt solid #00a634;
  margin-right: 10px;
}

.patent-item {
}

.patent-item-row {
  padding-top: 25px;
}

.patent-img {
  width: 100%;
  height: auto;
  outline: 3px solid #d9d9d9;
  cursor: pointer;
}

.patent-img:hover {
  scale: 1.02;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 500;
}

.core-tech-cards {
  display: flex;
  width: 100%;
  height: 55%;
}

.core-tech-card {
  width: 25%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 100%;
  padding: 2.5%;
}

.core-tech-card:hover {
  cursor: pointer;
  background-blend-mode: overlay;
  background-color: rgba(0, 166, 52, 0.7);
}

.core-tech-card:nth-child(1) {
  background-image: url("../resources/core-tech-1.png");
  margin-right: 3%;
}
.core-tech-card:nth-child(2) {
  background-image: url("../resources/core-tech-2.png");
  margin-right: 3%;
}
.core-tech-card:nth-child(3) {
  background-image: url("../resources/core-tech-3.png");
  margin-right: 3%;
}
.core-tech-card:nth-child(4) {
  background-image: url("../resources/core-tech-4.png");
}

.core-tech-top {
  width: 100%;
  height: 35%;
}

.core-tech-mid {
  width: 100%;
  height: 35%;
}

.core-tech-bottom {
  width: 100%;
  height: 30%;
}

.core-tech-subtitle {
  color: #ffffff;
  font-size: 0.75vmax;
  line-height: 10%;
}

.core-tech-title {
  color: #ffffff;
  font-size: 1.1vmax;
  font-weight: bold;
}

.core-tech-description {
  width: 100%;
  height: 70%;
  color: #ffffff;
  font-size: 0.75vmax;
  text-overflow: ellipsis;
}

.core-tech-buttonbox {
  cursor: pointer;
  position: fixed;
  width: 15%;
  height: 15%;
  bottom: -2%;
  right: 7em;
}

.core-tech-buttonimg {
  height: 35%;
}

.core-tech-buttonbox:hover {
  background-blend-mode: hue;
}
