.news-headline {
  display: flex;
  width: 100%;
  height: 21em;
}

.news-container {
  width: 100%;
  height: auto;
}

.news-search {
  justify-content: right;
  display: flex;
  height: 7em;
  align-items: flex-end;
}

.news-body {
  width: 100%;
  height: auto;
}

.news-card {
  display: inline-grid;
  margin-top: 2em;
  margin-left: 2em;
  width: 25em;
  height: 30em;
  background-color: #fafafa;
}

.news-card-image {
  width: 100%;
  height: 15em;
  background-image: url("../resources/main-page-1.png");
  background-position: center;
}

.news-card-summary {
  padding: 1.5em;
  padding-top: 2em;
  width: 100%;
  height: 15em;
}

.news-card-date {
  font-weight: 300;
  font-size: 13px;
  color: #9ca1a2;
}

.news-card-title {
  height: 4.5em;
  font-weight: bolder;
  font-size: 21px;
  color: #000000;
}

.news-button {
  width: 12em;
  height: 3em;
  text-align: left;
  padding-left: 1.5em;
  float: right;
}

.news-button:hover {
  background-color: #00a634;
  color: #ffffff;
  opacity: 0.7;
}

.news-headline-image {
  align-self: center;
  min-width: 21em;
  width: 21em;
  height: 15.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../resources/news-main-pic.png");
}

.news-headline-body {
  padding: 2.5em;
  padding-left: 4.5em;
}

.news-headline-title {
  font-size: 25px;
  font-weight: bolder;
  color: #000000;
}

.news-headline-date {
  font-weight: 300;
  font-size: 13px;
  color: #9ca1a2;
}

.news-headline-contents {
  font-weight: 600;
  font-size: 13px;
  color: #000000;
}

.news-search-left {
  border-bottom: 1px solid #d9d9d9;
  width: 5em;
  height: 2em;
  margin-right: 1.2em;
}

.news-search-right {
  border-bottom: 1px solid #d9d9d9;
  width: 25em;
  height: 2em;
}

.news-search-left-input {
  width: 100%;
  height: 2em;
  font-weight: bolder;
  font-size: 13px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.news-search-right-input {
  font-size: 13px;
  width: 95%;
  height: 2em;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  float: left;
  margin-top: 1%;
}

.news-search-right-button {
  width: 5%;
  height: 2em;
  float: right;
  background-image: url("../resources/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
